/* make all the html5 elements display block */
html {
	color: #343434;
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 75%;
	color: #222;
	background: #fff;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

a:focus, a:hover {
	color: #000;
}

a {
	color: #254a86;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	color: #333;
	font-family: "Helvetical Neue", Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}

h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}

h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}

h5 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}

h6 {
	font-size; 1em;
	font-weight: bold;
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
	margin: 0;
}

p {
	margin: 0 0 1.5em;
}

nav {
	text-align: right;
	font-weight: lighter;
}

nav a {
	color: #254A86;
	text-decoration: none;
}

nav a:hover {
	color: #222;
}

header {
	border-bottom: 2px dotted #CCC;
	margin-bottom: 24px;
	background: url('../img/logo.png') no-repeat;
	padding: 5px 0 8px 32px;
	text-shadow: #999 0px 1px 1px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 2em;
}

header a, header a:visited, header a:active, a:hover {
	color: #222;
}

footer {
	border-top: 2px dotted #CCC;
	text-align: center;
	font-weight: lighter;
}

.column {
	float: left;
	margin: 0px 10px;
	overflow: hidden;
}

.grid_6 {
	width: 460px;
}

.error, .notice, .success {
	border: 1px solid #DDD;
	margin-bottom: 1em;
	padding: 0.4em 0.8em;
}

.notice {
	background: #FFF6BF;
	border-color: #FFD324;
	color: #514721;
}

.stylized {
	background: #EBF4FB;
	border: 2px solid #B7DDF2;
}

.stylized h1 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}

.stylized form {
	border: 0;
	margin: 0;
	padding: 0;
}

.stylized p {
	border-bottom: 1px solid #B7DDF2;
	color: #666;
	font-size: 12px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.stylized input {
	border: 1px solid #AACFE4;
	float: left;
	font-size: 12px;
	margin: 2 0 20 10;
	padding: 4 2;
	width: 200;
}

.stylized label {
	display: block;
	float: left;
	font-weight: bold;
	text-align: right;
	width: 140px;
}

.stylized button {
	margin-left: 150px;
}

.myform {
	margin: 0px auto 24px;
	padding: 14px;
	width: 400px;
}

#twocolumnfooter {
	clear: both;
}

.html5logo {
	margin: 24px auto;
	background: url('../img/5.png') no-repeat;
	height: 64px;
	width: 165px;
}

