/* make all the html5 elements display block */
html {
	color: #343434;
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 75%;
	color: #222;
	background: #fff;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

a:focus, a:hover {
	color: #000;
}

a {
	color: #254a86;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	color: #333;
	font-family: "Helvetical Neue", Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}

h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}

h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}

h5 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}

h6 {
	font-size: 1em;
	font-weight: bold;
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
	margin: 0;
}

p {
	margin: 0 0 1.5em;
}

em {
	font-style: italic;
}

nav {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 4px;
	text-align: right;
}

nav a {
	color: #254A86;
	text-decoration: none;
}

nav a:hover {
	color: #222;
}

header {
	border-bottom: 2px dotted #CCC;
	margin-bottom: 24px;
	background: url('../img/logo.png') no-repeat;
	padding-top: 5px;
	padding-bottom: 1px;
	/*
	text-shadow: #999 0px 1px 1px;
	*/
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 2em;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 24px;
}

header a {
	padding: 0 0 0 32px;
}

header div {
	margin-bottom: 4px;
}

header a, header a:visited, header a:active, a:hover {
	color: #222;
}

footer {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 24px;
	border-top: 2px dotted #CCC;
	text-align: center;
	font-weight: lighter;
}

.column {
	float: left;
	margin: 0px 10px;
	overflow: hidden;
}

.grid_3 {
	width: 220px;
}

.grid_6 {
	width: 460px;
}

.grid_9 {
	width: 700px;
}

.error, .notice, .success {
	border: 1px solid #DDD;
	margin-bottom: 1em;
	padding: 0.4em 0.8em;
}

.notice {
	background: #FFF6BF;
	border-color: #FFD324;
	color: #514721;
}

.faded {
	color: #999;
}

#twocolumnfooter {
	clear: both;
}

.html5logo {
	margin: 24px auto;
	background: url('../img/5.png') no-repeat;
	height: 64px;
	width: 165px;
}

#nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav li {
	text-align: right;
	color: #a3a3a3;
	border-bottom: 1px dotted #eee;
}

#matchmake-nav li a:link, #matchmake-nav a:visited {
	display: block;
	padding: 6px;
	color: #333;

	text-transform: uppercase;
	font-size: 1.1em;
	text-decoration: none;
	text-align: right;
}

#matchmake-nav li a:hover {
	background: #FBC2C4;
	color: #fff;
}

.nav-highlight {
	background: #FBC2C4;
	color: #fff;
}

table {
	margin-bottom: 1.4em;
	width: 100%;
}

th {
	font-weight: bold;
	font-style: italic;
}

thead th {
	color: #222;
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
}

th, td, caption {
	outline: none;
	padding: 4px 10px;
}

td a {
	font-weight: bold;
}

td a:hover {
	text-decoration: underline;
}

td {
	border-bottom: 1px dotted #eee;
}

tr.success {
	background: #E6EFC2;
}

tr.waiting {
	background: #FFF6BF;
}

tr:hover, tr:nth-of-type(even):hover {
	background: #f5f5f5;
}

